body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: serif;
}

.background {
  background-image: url('./images/notebook.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.notebook {
  margin-top: 4em;
  margin-left: 5em;
  padding: 12em;
  position: relative;
  max-width: 66vw; 
  max-height: 100vh;
  display: flex;
  /* align-items: center; */
}

.title {
  margin: 0;
}

.left {
  margin-left: 5em;
  margin-right: 4em;
  width: 24vw;
}

.right {
  padding: 2em;
  width: 28vw;
  overflow: scroll;
  margin-right: 1em;
}

.spine {
  width: 7vw;
}

.welcome {
  margin: 0em;

}